#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#menu {
  width: 100%;
}

.wrapper .static-txt {
  color: var(--primary-blue-color);
  font-size: 30px;
  font-weight: 400;
}

.dynamic-txts {
  display: inline-block;
  /* margin: 20%; */
}

.my-roles {
  overflow: hidden;
  font-size: 3.6rem;
  font-weight: 700;
  border-right: 0.15rem solid black;
  white-space: nowrap;
  animation: typing 4s steps(40, end) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }

}

/*@keyframes roleCycle {
    0% {
      content: "Software Developer";
    }
    33% {
      content: "Frontend Developer";
    }
    66% {
      content: "React JS Developer";
    }
    100% {
      content: "Software Developer";
    } 
  }*/